extends layout

block content
    h1 Two-Factor Authentication
    form(action="/twofactor" method="POST")
        input(type="hidden" name="userID" value=`${id}`)
        input(type="text" name="token" placeholder="Enter Two-Factor Token")
        input(type="submit" name="submit" value="Submit")